<app-navbar></app-navbar>

<div class="container">
  <h1 class="mt-5">Impressum</h1>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <h2>Angaben gemäß § 5 TMG:</h2>
      <p>Verantwortlich für den Inhalt dieser Website:</p>
      <p>Gruppe 5 des WBS2 Kurses</p>
      <p>Vertreten durch:</p>
      <ul>
        <li>David Amend</li>
        <li>Amine Bouchrit</li>
        <li>Malte Franke</li>
        <li>Michael Hardt</li>
      </ul>
    </div>

    <div class="col-md-6">
      <h2>Kontakt:</h2>
      <p>Adresse: Technische Hochschule Mittelhessen</p>
      <p>Adresse: Wiesenstraße 14</p>
      <p>Adresse: 35390 Gießen</p>
      <p>E-Mail: /</p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <h2>Haftungsausschluss:</h2>
      <p>Die Mitglieder der Gruppe 5 des WBS2 Kurses übernehmen keine Gewähr für die Aktualität, Richtigkeit, Vollständigkeit oder Qualität der bereitgestellten Informationen. Haftungsansprüche gegen die Mitglieder der Gruppe 5 des WBS2 Kurses, die sich auf Schäden materieller oder ideeller Art beziehen, welche durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen.</p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <h2>Urheberrecht:</h2>
      <p>Die Inhalte und Werke auf dieser Website unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechts bedürfen der schriftlichen Zustimmung der Mitglieder der Gruppe 5 des WBS2 Kurses. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.</p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <h2>Datenschutz:</h2>
      <p>Die Nutzung unserer Website ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Nähere Informationen zum Datenschutz finden Sie in unserer Datenschutzerklärung.</p>
    </div>
  </div>
</div>

<app-footer></app-footer>
