<footer class="bg-light text-center text-lg-start sticky-bottom setBottom">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h6 class="text-uppercase">{{'privacyPolicy' | translate}}</h6>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <a href="javascript:void(0);" (click)="goImpressum()">
          <h6 class="text-uppercase mb-0">Imprint</h6>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <a href="javascript:void(0);" (click)="goFaq()">
          <h6 class="text-uppercase mb-0">FAQ</h6>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h6 class="text-uppercase mb-0">.</h6>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    {{'copyright' | translate}}
    <a class="text-dark" href="https://moodle.thm.de/course/view.php?id=5763">WBS2</a>
  </div>
  <!-- Copyright -->
</footer>
